/*Sidebar*/
.border-position-sidebar {
  border-top: 1px solid #585e65;
  border-right: 1px solid #585e65;
  bottom: 0;
}

.animationCollapse {
  transition: all 0.3s ease-in-out;
}

.toggled .hide-name-on-toggle {
  display: none;
  cursor: pointer;
}
.sidebar-item-hover-light {
  transition: all 0.3s ease-in-out;
}

.sidebar-item-hover-light:hover {
  background: rgba(236, 236, 236);
}

.sidebar-item-hover-dark {
  transition: all 0.3s ease-in-out;
}

.sidebar-item-hover-dark:hover {
  background: #4322ef;
}

.sticky-sidebar {
  max-height: calc(100vh - 115px);
}

.form-swtich {
  padding: 0 !important;
}

@media only screen and (max-width: 655px) {
  .sticky-sidebar,
  .symbol-crypto {
    display: none !important;
  }
}
.active {
  font-weight: 700;
}
